// less/main.less

// Import Bootstrap Styles Here

@import "bootstrap/bootstrap.less";

// Import your own LESS files here

// Add your own styles here

/*
 * Bootstrap overrides.
 */
@body-bg: #7cdbd5;
@text-color: #fff;
@font-family-base: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@link-color: #363f34;
@link-hover-color: #221D23;
@jumbotron-heading-font-size:    ceil((@font-size-base * 5.5));

@navbar-default-bg: #fff;
@navbar-default-link-color: #353f44;
@navbar-default-link-hover-bg: #f6f7f7;
@navbar-default-link-active-bg: #f6f7f7;
@navbar-default-link-hover-color: #7cdbd5;
@navbar-default-brand-hover-color: #7cdbd5;

// App colors
@green: #1CCC4E;
@yellow: #f9be02;
@red: #f53240;
@sea: #02c8a7;

// thumbnail
@thumbnail-padding: 3px;

@btn-default-color: #fff;
@btn-default-bg: #1CCC4E;
@btn-default-border: #1CCC4E;

@btn-primary-color: #fff;
@btn-primary-bg: #FC440F;
@btn-primary-border: #FC440F;

@btn-success-color: #fff;
@btn-success-bg: #27d24b;
@btn-success-border: #27d24b;

@btn-info-color: #fff;
@btn-info-bg: #02c8a7;
@btn-info-border: #02c8a7;

@btn-warning-color: #fff;
@btn-warning-bg: #f9be02;
@btn-warning-border: #f9be02;

@btn-danger-color: #fff;
@btn-danger-bg: #f53240;
@btn-danger-border: #f53240;

@panel-default-border: #dee5e7;
@panel-border-radius: 2px;
@panel-default-heading-bg: #f6f8f8;

@screen-sm: 800px;

html {
    height: 100%;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 160px;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

main {
  position: relative;
}
// Navigation styles
.navbar {
  border: 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.05), 0 1px 0 rgba(0,0,0,.05);

  ul li a {
    font-weight: bold;
  }
}

.navbar-default .navbar-brand {
  margin-left: 40px;
  font-size: 20px;
  font-weight: 700;
  color: @red;
}

// Footer styles
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  background-color: @yellow;

  a {
    color: @red;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: @sea;
      text-decoration: none;
    }
  }
}

// timer styles
.timer {
  margin-top: 40px;
  margin-bottom: 40px;
}

.timer-countdown-controls {
  margin-bottom: 40px;

  label {
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;

    &:active,
    &.active {
      z-index: 2;
      background-color: @green;
      border-color: @green;
      border-width: 1px;

      &:hover {
        background-color: #6CCC87;
        border-color: #6CCC87;
      }
    }

    &:hover {
      z-index: 2;
      background-color: #F9D86B;
      border-color: #F9D86B;
      border-width: 1px;
    }
  }
}

.timer-clock {
  .jumbotron {
    background-color: @red;
    border-radius: 10rem;
  }
}

.btn {
  font-weight: 500;
  margin: 5px;
}

.timer-buttons .btn-default {
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;

  &:hover {
    color: #fff;
    background-color: #6CCC87;
    border-color: #6CCC87;
  }
}

.timer-buttons .btn-primary {
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;

  &:hover {
    color: #fff;
    background-color: #FC8F71;
    border-color: #FC8F71;
  }
}

.timer-buttons .btn-warning {
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;

  &:hover {
    color: #fff;
    background-color: #F9D86B;
    border-color: #F9D86B;
  }
}

// Project styles

.project-list {
  animation: fadeIn 1s ease;
}
.thumbnail {
  background-color: @red;
  min-height: 110px;
  border-radius: 1em;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;

  &:hover {
    -webkit-transition: scale(1.1);;
    -moz-transition: scale(1.1);;
    transition: scale(1.1);;
  }
}

.add-button {
  background-color: #FF8C00;
  position: relative;
  margin: auto;

  label {
    margin: 0px;
    margin-left: -3px;
    border: 1px solid @green;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  input {
    margin: 0px;
    margin-right: -3px;
    border: 1px solid @green;
    border-right: none;
  }

  .form-inline {
    position: relative;
    top: 25px;
    animation: fadeIn 0.4s ease-out;
  }
}

.large-glyph {
    font-size: 20px;
    top: 27px;
    animation: fadeIn 0.4s ease-out;
}

.no-project-message {
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.no-projects-button {
  max-width: 300px;
}

// animations

// button grow
.grow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes flipInX {
  0% {
    transform: perspective(800px) rotate3d(1,0,0,90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(800px) rotate3d(1,0,0,-20deg);
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(800px) rotate3d(1,0,0,10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(800px) rotate3d(1,0,0,-5deg);
  }

  100% {
    transform: perspective(800px);
  }
}

.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@keyframes flipOutX {
  0% {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1,0,0,-20deg);
    opacity: 1;
  }

  100% {
    transform: perspective(400px) rotate3d(1,0,0,90deg);
    opacity: 0;
  }
}

.flipOutX {
  animation-name: flipOutX;
  backface-visibility: visible !important;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  16.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}


// loading spinner
.loading-spinner {
  position : absolute;
  top      : 200px;
  left     : 50%;
  -webkit-transform : translateX(-50%) translateY(-50%);
     -moz-transform : translateX(-50%) translateY(-50%);
          transform : translateX(-50%) translateY(-50%);
}

.dot {
  background    : black;
  border-radius : 100%;
  color         : white;
  height        : 30px;
  line-height   : 30px;
  text-align    : center;
  width         : 30px;
}

.dotOne {
  animation : dotOneKeyframes 5s ease  infinite;
  background        : @red;
  position          : absolute;
  top               : 0;
  left              : 0;
}

.dotTwo {
  animation : dotTwoKeyframes 5s ease 0.4166666666666s infinite;
  background        : @yellow;
  position          : absolute;
  top               : 0;
  left              : 35px;
}

.dotThree {
  animation : dotThreeKeyframes 5s ease 0.83333333333s infinite;
  background        : @green;
  position          : absolute;
  top               : 35px;
  left              : 35px;
}

@keyframes dotOneKeyframes {
  0% {
    top  : 0;
    left : 0;
  }
  8.3333333333% {
    top  : 35px;
    left : 0;
  }
  16.6666666666% {

  }
  25% {
    top  : 35px;
    left : 0;
  }
  33.3333333333% {
    top  : 35px;
    left : 35px;
  }
  41.6666666666% {

  }
  50% {
    top  : 35px;
    left : 35px;
  }
  58.3333333333% {
    top  : 0;
    left : 35px;
  }
  66.6666666666% {

  }
  75% {
    top  : 0;
    left : 35px;
  }
  83.3333333333% {
    top  : 0;
    left : 0;
  }
  91.6666666666% {

  }
  100% {

  }
}


@keyframes dotTwoKeyframes {
  0% {
    top  : 0;
    left : 14px;
  }
  8.3333333333% {
    top  : 0;
    left : 0;
  }
  16.6666666666% {

  }
  25% {
    top  : 0;
    left : 0;
  }
  33.3333333333% {
    top  : 35px;
    left : 0;
  }
  41.6666666666% {

  }
  50% {
    top  : 35px;
    left : 0;
  }
  58.3333333333% {
    top  : 35px;
    left : 35px;
  }
  66.6666666666% {

  }
  75% {
    top  : 35px;
    left : 35px;
  }
  83.3333333333% {
    top  : 0;
    left : 35px;
  }
  91.6666666666% {

  }
  100% {

  }
}

@keyframes dotThreeKeyframes {
  0% {
    top  : 35px;
    left : 35px;
  }
  8.3333333333% {
    top  : 0;
    left : 35px;
  }
  16.6666666666% {

  }
  25% {
    top  : 0;
    left : 35px;
  }
  33.3333333333% {
    top  : 0;
    left : 0;
  }
  41.6666666666% {

  }
  50% {
    top  : 0;
    left : 0;
  }
  58.3333333333% {
    top  : 35px;
    left : 0;
  }
  66.6666666666% {

  }
  75% {
    top  : 35px;
    left : 0;
  }
  83.3333333333% {
    top  : 35px;
    left : 35px;
  }
  91.6666666666% {

  }
  100% {

  }
}
